//
//  Credentials.swift
//  Runner
//
//  Created by Bohdan Ptyts on 06.11.2019.
//  Copyright © 2019 The Chromium Authors. All rights reserved.
//

import Foundation

let GOOGLE_MAPS_API_KEY = "key here"
